<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<!--<add name="InventoryApplication.My.MySettings.sampleConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\database\sample.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="InventoryApplication.My.MySettings.Database1ConnectionString"
            connectionString="Data Source=|DataDirectory|\database\InventoryDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="InventoryApplication.My.MySettings.Database1ConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\database\Database1.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="InventoryApplication.My.MySettings.Database1ConnectionString2"
            connectionString="Data Source=.\DbFilename=|DataDirectory|\db\Database1.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />-->
		<add name="SettingsInventoryDBConnectionString"
            connectionString="Data Source=CPU096\SQLEXPRESS;Initial Catalog=InventoryDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
	</startup>
</configuration>